<% layout('layouts/boilerplate')%>
    <h1>50-50</h1>
    <h2 id="value">Starting soon...</h2>

    <script>
        const updateCoin = () => {
            let res;
            const rand = Math.random();
            if (rand <= 0.5) res = "HEAD";
            else res = "TAIL";
            document.getElementById("value").innerHTML = res;
        }

        setInterval(updateCoin, 500)


    </script>