<% layout('layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center infoHead">50-50</h1>
        <div class="col-6 offset-3">
            <form action="/50-50/start" method="POST" class="validated-form">
                <div class="mb-3">
                    <label class="form-label nameLabel" for="name">Name</label>
                    <input class="form-control nameInput" type="text" id="name" name="name" required>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success startButton" type="submit">Start Game</button>
                </div>
            </form>
            <a class="backToHome" href="/">Back to Home Page</a>
        </div>
    </div>