<% layout('layouts/boilerplate')%>

    <h1 class="text-center display-4" id="heading">JustGambleIt</h1>

    <hr>

    <h6 class="text-center display-6">The official website of JustGambleIt</h6>

    <hr>

    <br>

    <div class="cardTemplate">
        <div class="card text-center">
            <div class="card-header">
                Gambling
            </div>
            <div class="card-body">
                <h5 class="card-title">Roulette</h5>
                <p class="card-text">Three bets to make on each roll, Get upto 14x of your bet amount. You start with a
                    base
                    amount, try to get a high
                    score.</p>
                <a href="/roulette/start" type="button" class="btn btn-outline-danger">Play Now</a>
            </div>
            <div class="card-footer">
                JustGambleIt
            </div>
        </div>
    </div>

    <br>

    <hr>

    <br>

    <div class="cardTemplate " id="card">
        <div class="card text-center">
            <div class="card-header">
                Gambling
            </div>
            <div class="card-body">
                <h5 class="card-title">50-50</h5>
                <p class="card-text">A coin flip game with two outcomes of same odds. You start with a base amount, try
                    to
                    get a high score.</p>
                <a href="/50-50/start" type="button" class="btn btn-outline-success">Play Now</a>
            </div>
            <div class="card-footer">
                JustGambleIt
            </div>


        </div>
        <br>
        <br>
        <br>
    </div>