<% layout('layouts/boilerplate')%>
    <h1 class="text-center py-2">Roulette</h1>
    <h2 id="value" class="text-center mt-2 py-1">
        Starting soon...
    </h2>
    <div class="d-flex justify-content-end">
        <h3 id="coins">4000 coins</h3>
    </div>
    <div class="row betting d-flex flex-row justify-content-center py-5">
        <div class="card ml-3 mr-3 border border-info" style="width: 14rem;">
            <img class="card-img-top" src="https://pbs.twimg.com/profile_images/459267120371466240/b1qOAbLz_400x400.png"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">2x Your Bet</h5>
                <p class="card-text">

                </p>
                <button type="button" class="btn btn-secondary">Place Bet</button>

            </div>
        </div>
        <div class="card ml-3 mr-3 border border-info" style="width: 14rem;">
            <img class="card-img-top" src="https://pbs.twimg.com/profile_images/459267120371466240/b1qOAbLz_400x400.png"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">14x Your Bet</h5>
                <p class="card-text">

                </p>
                <button type="button" id="betButton" class="btn btn-secondary">Place Bet</button>
            </div>
        </div>
        <div class="card ml-3 mr-3 border border-info" style="width: 14rem;">
            <img class="card-img-top" src="https://pbs.twimg.com/profile_images/459267120371466240/b1qOAbLz_400x400.png"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">2x Your Bet</h5>
                <p class="card-text">

                </p>
                <button type="button" class="btn btn-secondary">Place Bet</button>
            </div>
        </div>
    </div>
    <div class="">

        <form class="form-inline">

            <div class="form-group d-flex flex-row justify-content-center">
                <div class="col-4">
                    <label for="amount" class="sr-only">$</label>
                    <input id="betAmount" type="number" class="form-control" id="amount" placeholder="Enter Amount"
                        value="5">
                </div>

            </div>
        </form>
    </div>
    <script>
        function updateRes() {
            let res;
            const rand = Math.floor((Math.random() * 15) + 1);
            if (rand === 1) {
                res = "Jackpot";
            }
            else if (rand <= 8) {
                res = "A";
            }
            else {
                res = "B";
            }
            document.getElementById("value").innerHTML = res;
        }

        setInterval(updateRes, 2000)
        if (document.getElementById('betButton').clicked) {
            document.getElementById("coins").innerHTML = `${document.getElementById('betAmount').value}`
        }

    </script>