<% layout('layouts/boilerplate')%>
    <div id="gameOver" class="container" hidden>
        <h1 class="display-4 text-center gameOver">GAME OVER</h1>
        <br>


        <form action="/highscores?_method=PUT" method="POST" novalidate class="validated-form">
            <input id="lmfao" type="text" name="score" value="5000" hidden>
            <button id="gtl" name="id" value=<%=userInfo._id%> class="btn btn-success" type="submit">Go To
                Leaderboards</button>
        </form>

    </div>
    <div id="mainBody">


        <h1 class="text-center infoHead">Roulette</h1>
        <hr>
        <h2 id="display" class="text-center mt-3 outcome">Starting Soon...</h2>
        <!-- <div class="progress" id="progress" hidden>
            <div class="progress-bar" id="loader" role="progressbar" style="width:0%" aria-valuenow="0"
                aria-valuemin="0" aria-valuemax="100"></div>
        </div> -->
        <hr>
        <form>
            <div class="mt-4 py-4">
                <div class="form-group row">
                    <label for="amount" class="col-sm-2 col-form-label formInput">Amount</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control formInput" id="amount" placeholder="Amount">
                    </div>
                </div>
            </div>
            <div class="mb-2">
                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-2 pt-0 formInput">Choose Option</legend>
                        <div class="col-sm-10">
                            <div class="options">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="bet" id="bet1" value="KING"
                                        checked hidden>
                                    <label class="form-check-label formInput option1 optionhai" for="bet1">
                                        KING
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="bet" id="bet2" value="JOKER"
                                        hidden>
                                    <label class="form-check-label formInput option2 optionhai" for="bet2">
                                        JOKER
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="bet" id="bet3" value="QUEEN"
                                        hidden>
                                    <label class="form-check-label formInput option3 optionhai" for="bet3">
                                        QUEEN
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <hr>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-secondary mt-1 formInput" id="bettingButton"
                    onclick="  currentBetsUpdater(document.getElementById('amount').value) ,cutBalance(document.getElementById('amount').value) , clearInput() ">Place
                    Bet</button>
            </div>

            <hr>
            <div class="d-flex flex-column align-items-center justify-content-center">
                <h3 class="display-6 amountLeft">Amount Left</h3>
                <h3 id="balance" class="mt-3">5000</h3>
                <div class="seperate"></div>
                <h3 id="highscorehead">Score: <span id="highScoreLol">5000</span></h3>
                <div class="seperate"></div>

                <h3 class="currentBets amountLeft">Current Bets</h3>
                <div class="d-flex flex-row justify-content-center mt-2">

                    <div class="display-5 mr-2 ml-2" id="idA">0</div>
                    <div class="display-5 mr-2 ml-2" id="idENDBAI">0</div>
                    <div class="display-5 mr-2 ml-2" id="idB">0</div>


                </div>
            </div>


        </form>



    </div>

    <script>


        let highest = 5000;

        /* function startLoader() {
            let full = document.getElementById('progress');
            full.hidden = false;
            let bar = document.getElementById('loader');
            let loaded = 0;
            setInterval(function () {
                loaded++;
                bar.animate({
                    width: `${loaded}%`
                })
                bar.attr('aria-valuenow', `${loaded}`)
            }, 100)

        }


        function stopLoader() {
            const full = document.getElementById('progress');
            full.hidden = true;
        } */



        const clearInput = () => {
            document.getElementById("amount").value = ""
        }

        const fetchBet = () => {
            let resBet;
            const bets = document.getElementsByName("bet");
            for (let i = 0; i < bets.length; i++) {
                if (bets[i].checked) {
                    resBet = bets[i].value;
                    break;
                }
            }

            return resBet;
        }


        const currentBetsUpdater = (betAmount) => {
            if (betAmount) {
                if (parseFloat(betAmount) > parseFloat(document.getElementById("balance").innerHTML)) {
                    return;
                }
                const selected = fetchBet();
                if (selected == "KING") {
                    let current = parseFloat(document.getElementById("idA").innerHTML);
                    let updated = current + parseFloat(betAmount)
                    document.getElementById("idA").innerHTML = updated.toString();
                }
                else if (selected == "JOKER") {
                    let current = parseFloat(document.getElementById("idENDBAI").innerHTML);
                    let updated = current + parseFloat(betAmount)
                    document.getElementById("idENDBAI").innerHTML = updated.toString();
                }
                else {
                    let current = parseFloat(document.getElementById("idB").innerHTML);
                    let updated = current + parseFloat(betAmount)
                    document.getElementById("idB").innerHTML = updated.toString();
                }
            }
        }

        const cutBalance = (amount) => {
            if (amount && parseFloat(amount) <= parseFloat(document.getElementById("balance").textContent)) {
                document.getElementById("balance").textContent = parseFloat(document.getElementById("balance").textContent) - parseFloat(amount)
            }
        }

        const addBalance = (answer) => {
            if (answer == 1) {
                document.getElementById("balance").textContent = parseFloat(document.getElementById("balance").textContent) + 2 * parseFloat(document.getElementById("idA").innerHTML)
            }
            else if (answer == 2) {
                document.getElementById("balance").textContent = parseFloat(document.getElementById("balance").textContent) + 14 * parseFloat(document.getElementById("idENDBAI").innerHTML)
            }
            else {
                document.getElementById("balance").textContent = parseFloat(document.getElementById("balance").textContent) + 2 * parseFloat(document.getElementById("idB").innerHTML)
            }

            highest = Math.max(highest, parseFloat(document.getElementById("balance").textContent));
            document.getElementById('highScoreLol').textContent = highest;
            document.getElementById('lmfao').value = highest;

        }
        const getResult = () => {
            let res;
            const rand = Math.floor((Math.random() * 15) + 1);
            if (rand == 1) res = "JOKER"
            else if (rand <= 8) res = "KING"
            else res = "QUEEN"
            return res;
        }

        const endGame = () => {
            setTimeout(() => {
                document.getElementById("mainBody").hidden = true;
                document.getElementById("gameOver").hidden = false;

            }, 3000)

        }

        const roll = () => {
            const display = document.getElementById("display");
            setInterval(() => {
                display.textContent = "Rolling..."

                document.getElementById("bet1").disabled = true;
                document.getElementById("bet2").disabled = true;
                document.getElementById("bet3").disabled = true;
                document.getElementById("bettingButton").disabled = true;

                document.getElementById("amount").value = "";
                document.getElementById("amount").disabled = true;

                setTimeout(() => {
                    display.textContent = getResult();
                    /* startLoader();
                    setTimeout(stopLoader, 10000) */

                    if (display.textContent == "KING") {
                        addBalance(1);
                    }
                    else if (display.textContent == "JOKER") {
                        addBalance(2)
                    }
                    else {
                        addBalance(3)
                    }



                    document.getElementById("bet1").disabled = false;
                    document.getElementById("bet2").disabled = false;
                    document.getElementById("bet3").disabled = false;
                    document.getElementById("amount").disabled = false;
                    document.getElementById("bettingButton").disabled = false;
                    document.getElementById("idA").innerHTML = "0"
                    document.getElementById("idENDBAI").innerHTML = "0"
                    document.getElementById("idB").innerHTML = "0"
                    document.getElementById("amount").value = "";
                    if (document.getElementById("balance").textContent == "0") {
                        endGame();
                    }
                }, 5000)
            }, 15000)
        }

        roll();


    </script>